/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

ul{
    list-style: none;
}

.nav-list li a{
    text-decoration: none; 
    padding: 1.8em 0;
}

.border-hover:hover{
    border-bottom: 3px solid black;
}

.float{
    float: left;
}

.color-w{
    color: white;
}

.col-main1 h2,
.part2 div,
.spazio,
.part3,
hr,
.part4 ul li,
.part4 h3,
.col-foot h4,
.col-main-img h2,
.text-domande,
.text > h2{
    margin-bottom: 1em;
}

.ban-col2 img,
.col-part img,
.btn-packet,
.col-main-img img,
.team-img img{
    width: 100%;
}

.mg-auto{
    margin: 0 auto;
}

.btn:hover{
    opacity: 0.8;
}

/* HEADER */
/* NAV */
.nav{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.col-nav{
    width: 50%;
    max-width: 1200px;
}

.nav-list,
.nav-list > li{
    display: inline-block;
    padding: 1em;
    vertical-align: middle;
}

.nav-list a{
    color: black;
}

.col-nav img{
    vertical-align: middle;
    padding-left: 1em;
}

.col-nav2{
    text-align: right;
}

.btn{
    background-color: #3e3eff;
    padding: .5em 1.5em;
    border: none;
}

.btn-nav{
    margin-right: 1em;
}

.nav-list{
    position: relative;
}

.menu-hover{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid lightgray;
    text-align: left;
    padding: 1em 0;
    display: none;
}

.cont-menu:hover{
    background-color: #eeeded;
}

.cont-menu{
    padding: 1em 2em;
}

.menu-hover{
    display: block;
}

/* BANNER */
.banner{
    background-color: lightblue;
    height: 700px;
}

.banner-cont{
    width: 80%;
    max-width: 1200px;
}    

.title{
    padding: 2em 0 1em;
    font-size: 2em;
}

.title h1,
.link-ban,
.cont-arrow{
    padding-top: 1em;
}

.ban-col1{
    width: 30%;
    padding-right: 3em;
}

.ban-col2{
    width: 70%;
}

.btn-ban{
    margin-top: 3em;
}

.btn-ban2,
.arrow{
    color: black;
    text-decoration: none;
}

.arrow{
    font-size: 3em;
}

/* MAIN */
main{
    padding-top: 5em;
}

.main-1{
    width: 65%;
    margin-top: 12em;
}

/* text */
.text > h2{
    font-size: 3em;
}

label{ 
    margin-right: 1em;
}

/* packet */
.packet{
    margin-top: 1em;
}

.packet-title{
    border: 1px solid lightgray;
    text-align: center;
    padding: .5em 0;
}

.col-main{
    width: calc(100% / 3);
}

.border{
    border: 1px solid lightgray;
}

.col-main1,
.cont-enterprise{
    width: 90%;
    margin: 1em auto;
}

.prezzi{
    margin-bottom: .8em;
}

.part1{
    margin-bottom: 3em;
}

.btn-packet{
    border: none;
    margin: 3em 0 2em;
}

.part3 p a,
.drop-business a{
    color: blue;
}

.hr{
    width: 15%;
    color: gray;
}

.ul-part4 li span{
    color: blue;
}

.ul-part4{
    margin-bottom: 10em;
}

.col-center{
    margin: 0 20px;
    width: calc(33% - 40px);
}

/* enterprise */
.enterprise{
    border: 1px solid lightgray;
    margin-top: 3em;
    margin-bottom: 5em;
}

.cont-enterprise h3{
    margin: .5em 0 1em;
}

.cont-enterprise{
    position: relative;
}

.btn-ent{
    padding: .5em 3em;
    position: absolute;
    top: 0;
    right: 0;
}

/* partner dropbox */
.col-part{
    width: 50%;
}

.col-part h2{
    margin: 1em 0;
}

.col-part p{
    margin-bottom: 2em;
}

.col-part button{
    border-color: black;
    padding: .5em;
    background-color: white;
}

.col-text{
    padding-left: 4em;
}

/* dropbox business */
.drop-business{
    margin-top: 5em;
    margin-bottom: 2em;
}

.pd-top{
    padding-top: 2em;
}

.pd-right{
    padding-right: 3em;
}

.pd-left{
    padding-left: 3em;
}

/* MAIN2 */

/* team */
.col-team{
    width: 30%;
}

.col-team-center{
    height: 400px;
    background-color: lightgray;
    width: 40%;
}

.logo{
    height: 200px;
    width: 50%;
}

.team-img{
    position: relative;
}

.team-img img{
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    filter: invert(1);
}

.img-center img{
    height: 50px;
}

.cont-center{
    height: 400px;
    width: 80%;
    margin: 2em auto;
}

.cont-center hr{
    margin-top: 2em;
}

.autor{
    margin-bottom: 7em;
}

.overflow{
    overflow: scroll;
}

.team-text{
    margin: 2em 0 1em;

}

/* color left */
.bg-lightgreen{
    background-color: lightgreen;
    border: .7em solid #c4ebc4;
}

.bg-darkred{
    background-color: #6b0000;
}

.bg-blue{
    background-color: #0749ff;
}

.bg-red{
    background-color: red;
}

/* color right */
.bg-dark-red{
    background-color: darkred;
}

.bg-lightblue{
    background-color: lightblue;
}

.bg-darkblue{
    background-color: darkblue;
}

.bg-yellow{
    background-color: yellow;
}

/* azienda */
.sect-azienda{
    background-color: lightblue;
}

.azienda{
    width: 65%;
    position: relative;
    padding: 7em 0;
}

.text-azienda{
    font-size: 2.5em;
    color: rgb(67, 2, 94);
}

.btn-white{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8.5em;
    color: black;
    background-color: white;
    border: none;
    padding: .5em 2em;
}

/* domande */

.text-domande{
    font-size: 1.8em;
}

.dom-t,
.text-hover{
    width: 95%;
}

.text-hover{
    margin-top: 1em;
    color: gray;
}

.ds-none,
.domande:hover .down{
    display: none;
}

.domande:hover .up,
.domande:hover .text-hover{
    display: block;
}

.domande{
    padding: 2em 0;
}

.dom-t span{
    float: right;
}

/* FOOTER */

.footer{
    background-color: black;
}

.cont-foot{
    width: 80%;
}

.col-foot{
    width: calc(100% / 5);
    margin-top: 7em;
    margin-bottom: 3em;
}

.col-foot li a{
    margin-bottom: .5em;
    font-size: .7em;
    text-decoration: none;
}

.col-foot li a:hover{
    text-decoration: underline;
}

.col-foot ul{
    margin-bottom: 4em;
}

.col-foot hr{
    width: 30%;
}

.col-foot p,
.col-foot span{
    color: gray;
}

