/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* HEADER */

/* NAV */
.nav{
    height: 100px;
    width: 96%;
}

.col-nav{
    width: 48%;
    margin: 0 auto;
    float: right;
    max-width: 1200px;
    /* test */
    height: 100px;
    background-color: yellowgreen;
    border: 2px solid black;
}

/* BANNER */
.banner{
    background-color: lightblue;
    height: 400px;
}

/* MAIN */
main{
    width: 70%;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 7em;
}

/* sect-1 */
.text{
    height: 60px;
}
